/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Body general*/

body{
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #400101;
}

/* Loading */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F2CBC2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading .spinner {
    border: 4px solid #ffffffbe;
    border-top: 5px solid #400101;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.general {
    display: none;
}

/* Header estilos generales*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 20px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fbfbfb;
    box-shadow: 0px 20px 25px -25px #400101;
}

.logo{
    width: 200px;
    height: 200px;
}

#menu {
    display: flex;
    font-size: 18px;
}

.menu-li a{
    padding: 16px;
    display: inline-block;
    text-decoration: none;
    color: #400101;
    border-radius: 10px;
}

.menu-li:hover, .active{
    background-color: #F2CBC2;
    color: #ffffff;
}

/* Header, iconos del menu hamburguesa y que se desaparezca cuando este en version mobile */

#menu-button{
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 30px;
    width: 50px;
    height: 50px;
}

i#menu-cerrar{
    display: none;
}

nav{
    display: none;
}

/* Estilos del menu hamburguesa */

body.menu-mobile{
    overflow: hidden;
}

body.menu-mobile i#menu-cerrar{
    display: block;
    align-items: center;
}

body.menu-mobile i#menu-hamburguesa{
    display: none;
}

body.menu-mobile header{
    height: 60vh;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: height 0.4s;
}

body.menu-mobile nav{
    display: block;
    width: 100%;
    height: 50%;
}

body.menu-mobile #menu{
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    height: 50%;
}

/* Main Inicio*/

main {
    max-width: 1200px;
    margin: auto;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 20px;
    min-height: 80vh;
}

#inicio #contacto{
    justify-content: space-evenly;
}

.img-personal{
    margin: 25px;
}

.yo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 30px #F2CBC2;
}

.presentacion{
    text-align: center;
    width: 100%;
}

h1{
    font-size: 36px;
    font-weight: 900;
    margin: 10px;
    padding: 10px;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 15ch;
    animation: typing 2.5s steps(15), blink 5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing{
    from { width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}

.parrafo-presentacion{
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.button{
    color: #400101;
    text-decoration: none;
    background-color: #F2CBC2;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 18px 40px;
    margin: 20px;
    line-height: 1;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 0 0 5px #F2CBC2;
}

.button:hover{
    box-shadow: 0 0 5px #F2CBC2, 0 0 20px #F2CBC2;
}

/* Main-Grid herramientas que uso */

#herramientas {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 25px;
    font-weight: 700;
    margin: 30px;
    text-align: center;
}

#caja {
    display: grid;
    grid-template-columns: 1fr; 
    justify-items: center; 
    align-items: center; 
    background-color: #d9aca37f;
    padding: 30px;
    border-radius: 20px;
    gap: 10px;
    width: 250px;
}

#caja div {
    border-radius: 15px;
    border: 3px solid #400101;
    width: 100px;
    height: 100px;
}

div img {
    width: 100%;
    height: 100%;
}

div img:hover{
    box-shadow: 0 0 5px #400101, 0 0 20px #400101;
}

/* Main-Habilidades y Contacto */

.hablemos{
    text-align: center;
    padding: 15px;
    background: #d9aca37f;
    border-radius: 15px;
}

h3{
    font-size: 28px;
    font-weight: 700;
    margin: 15px;
}

.ol-contacto{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    margin-top: 20px;
}

li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.iconos{
    font-size: 60px;
    color: #400101;
    padding: 10px;
    margin: 20px;
    background-color: #F2CBC2;
    border-radius: 10px;
}

.iconos:hover{
    box-shadow: 0 0 30px #F2CBC2;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #400101;
    color: #fbfbfb;
    height: 90px;
    font-weight: 600;
}

/* Media desktop*/

@media (min-width: 1024px) {

    .logo{
        height: 350px;
        width: 350px;
    }

    h1{
        font-size: 50px;
    }
    
    section#inicio{ 
        flex-direction: row; 
    }

    article.presentacion{
        text-align: left;
        width: 70%;
    }

    .yo{
        width: 450px;
        height: 450px;
    }

    .parrafo-presentacion{
        text-align: left;
        margin-left: 10px;
        padding-left: 10px;
        font-size: 20px;
    }

    .hablemos{
        max-width: 700px;
    }

    #menu-button{
        display: none;
    }

    nav{
        display: block;
    }

    .iconos{
        font-size: 80px;
    }

    h2{
        font-size: 40px
    }

    #caja {
        grid-template-columns: repeat(3, 1fr); 
        width: 800px;
        height: 800px;
    }

    #caja div {
        width: 200px;
        height: 200px
    }
}