/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* Importar aquí la font */

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Modo oscuro  */

#toggle{
    display: none;
}

#label-toggle{
    font-size: 30px;
    color: #400101;
    cursor: pointer;
    display: flex;
    justify-content: end;
}

.dark{
    background-color: #400101;
    color: #ffffff;
    transition: all 2s ease;
}

/* Body general */

body{
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #400101;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 20px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fbfbfb;
    box-shadow: 0px 20px 25px -25px #400101;
}

.logo{
    width: 200px;
    height: 200px;
}

#menu {
    display: flex;
    font-size: 18px;
}

.menu-li a{
    padding: 16px;
    display: inline-block;
    text-decoration: none;
    color: #400101;
    border-radius: 10px;
}

.menu-li:hover, .active{
    background-color: #F2CBC2;
    color: #ffffff;
}
nav{
    display: none;
}
#menu-button{
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 30px;
    width: 40%;
    height: 40%;
}

i#menu-cerrar{
    display: none;
}

/* Estilos del menu hamburguesa */

body.menu-mobile{
    overflow: hidden;
}

body.menu-mobile i#menu-cerrar{
    display: block;
}

body.menu-mobile i#menu-hamburguesa{
    display: none;
}

body.menu-mobile header{
    height: 60%;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: height 0.4s;
}

body.menu-mobile nav{
    display: block;
    width: 100%;
    height: 10px;
}

body.menu-mobile ul#menu{
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
    height: 10%;
}

/* Main */
main {
    max-width: 1200px;
    margin: auto;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 20px;
    min-height: 100vh;
}

#inicio #contacto{
    justify-content: space-evenly;
}

.img-personal{
    margin: 25px;
}

.yo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 30px #F2CBC2;
}

.presentacion{
    text-align: center;
    width: 100%;
}

h1{
    font-size: 36px;
    font-weight: 700;
    margin: 10px;
    padding: 10px;
}

span{
    color: #D9ACA3;
}

.parrafo-presentacion{
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.button{
    color: #400101;
    text-decoration: none;
    background-color: #F2CBC2;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 40px;
    margin: 20px;
    line-height: 1;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 0 0 5px #F2CBC2;
}

.button:hover{
    box-shadow: 0 0 5px #F2CBC2, 0 0 20px #F2CBC2;
}

.hablemos{
    text-align: center;
    padding: 15px;
    background: #d9aca37f;
    border-radius: 15px;
    max-width: 500px;
}

h2{
    font-size: 28px;
    font-weight: 700;
    margin: 15px;
}

.ol-contacto{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    margin-top: 20px;
}

li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

img{
    width: 75px;
    height: 75px;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #400101;
    color: #fbfbfb;
    height: 90px;
}

@media (min-width: 1024px) {

    h1{
        font-size: 50px;
    }

    .logo{
        height: 350px;
        width: 350px;
    }

    section{
        margin-top: 50px;
    }
    
    section#inicio{ 
        flex-direction: row; 
    }

    article.presentacion{
        text-align: left;
        width: 70%;
    }

    .yo{
        width: 450px;
        height: 450px;
    }

    .parrafo-presentacion{
        text-align: left;
        margin-left: 10px;
        padding-left: 10px;
        font-size: 20px;
    }

    #menu-button{
        display: none;
    }

    nav{
        display: block;
    }
}
